<div class="form-signin">    
	<button class="btn btn-lg btn-primary btn-block" ng-click="openAircraftForm()">Aircraft</button>
	<button class="btn btn-lg btn-primary btn-block" ng-click="openOperatorForm()">Operator</button>
	<button class="btn btn-lg btn-primary btn-block" ng-click="openPhotographerForm()">Photographer</button>
	<button class="btn btn-lg btn-primary btn-block" ng-click="openPhotoForm()">Photo</button>
	<button class="btn btn-lg btn-primary btn-block" ng-click="logout()">Logout</button>
</div>